<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/public/CSS/style.css">

  {{{_sections.css}}}
</head>

<body>
  <nav class="navbar navbar-expand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" href="/course/byCat" id="navbarDropdown" aria-haspopup="true"
            aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each lcCategories}}
            <div class="dropright">
              <a class="dropdown-item" href="/course/catLevel/{{@key}}">{{@key}} &raquo;</a>
              <div class="dropdown-menu">
                {{#each this}}
                <a class="dropdown-item" href="/course/byCat/{{this}}">{{@this}}</a>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
        </li>
      </ul>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>

    {{#if auth}}
    <div class="butt" style="background-color: pink;">
      <form id="frmLogout" action="/account/logout" method="post"></form>
      <a href="javascript: $('#frmLogout').submit();"><button class="login">LogOut</button></a>
      <a href=""><button class="signin"><i class="bi bi-person-circle bg-transparent"></i></button></a>
    </div>
    {{else}}
    <div class="butt" style="background-color: pink;">
      <a href="/account/signin"><button class="login">LogIn</button></a>
      <a href="/account/register"><button class="signin">SignIn</button></a>
    </div>
    {{/if}}
  </nav>

  {{{body}}}


  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>

  {{{_sections.js}}}
</body>

</html>