{{#section 'js'}}
<script>
  const curPage = +$('#curPage').text()
  if (curPage === 1 || curPage === 0) {
    $('#prev').addClass('disabled')
    $('#first').addClass('disabled')
  }
  if (curPage === {{{totalPages}}}) {
    $('#next').addClass('disabled')
    $('#last').addClass('disabled')
  }
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="../../public/CSS/vwCourse/byCat.css">
{{/section}}

<div class="p-5">
  <div class="row">
    <div class="col-sm-12">
      {{#if this.catName}}
      <p class="h1">{{this.catName}}</p>
      {{else}}
      <p class="h1">All</p>
      {{/if}}

      {{#if this.empty}}
      <h5>Không có dữ liệu</h5>
      {{else}}
      <div class="card-body">
        <div class="row pb-5">
          {{#each this.courses}}
          <div class="col-sm-4 mb-4">
            <a href="/course/detail/{{courseid}}">
              <div class="card h-100">
                <img class="card-img-top" src="/public/img/category/yae.png" alt="courseTitle">
                <div class="card-body">
                  <h4 class="card-title mb-0" id="coursename">{{coursename}}</h4>
                  <h5 class="card-title mb-0 font-italic">{{catname}}</h5>
                  <p class="card-text text-secondary mb-0">{{lecname}}</p>
                  <div class="rating">
                    <p class="rating-item">{{rating}}</p>
                    <i class="bi bi-star-fill"></i>
                    <p class="text-secondary rating-item">({{format_number reviews}})</p>
                  </div>
                  {{#if this.discount}}
                  <h5 class="card-text mb-0" style="display: inline;">₫{{format_number discount}}</h5>
                  <del class="text-secondary">₫{{format_number tuition}}</del>
                  {{else}}
                  <h5 class="card-text mb-0">₫{{format_number tuition}}</h5>
                  {{/if}}
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
        

        <nav>
          <ul class="pagination pagination-lg" id="pagination" style="justify-content: center;">
            <li class="page-item" id="first">
              <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item" id="prev">
              <a class="page-link" href="?page={{this.prevPage}}">Previous</a>
            </li>

            {{#each this.pages}}
            {{#if isCurrent}}
            <li class="page-item active" id="curPage">
              <a class="page-link" href="#">{{value}}</a>
            </li>
            {{else}}
            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {{/if}}
            {{/each}}

            <li class="page-item" id="next">
              <a class="page-link" href="?page={{this.nextPage}}">Next</a>
            </li>
            <li class="page-item" id="last">
              <a class="page-link" href="?page={{this.totalPages}}">Last</a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </div>
  </div>
</div>