{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/styleAdmin.css">
{{/section}}

<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        <span><h3>Students</h3></span>
        <a class="btn btn-sm btn-outline-primary btnAddAdmin" style="height: 30px; width: 200px" href="/admin/students/add" role="button">
            <i class="bi bi-plus-circle bg-transparent" aria-hidden="true"></i>
            ADD STUDENT
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            <h5 class="card-title">
                Không có học sinh nào!
            </h5>
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Email</th>
                    <th>Student Name</th>
                    <th>Number of courses enrolls in</th>
                    <th>Number of courses in watchlist</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.students}}
                    <tr>
                        <td>{{studentid}}</td>
                        <td>{{email}}</td>
                        <td>{{studentname}}</td>
                        <td>{{countenroll}}</td>
                        <td>{{countlike}}</td>
                        {{#ifEquals lockaccount 0}}
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/students/lock?id={{studentid}}" role="button" title="Lock Account">
                                <i class="bi bi-lock bg-transparent" aria-hidden="true"></i>
                                </a>
                            </td>
                        {{/ifEquals}}
                        {{#ifEquals lockaccount 1}}
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/students/unlock?id={{studentid}}" role="button" title="Unlock Account">
                                <i class="bi bi-unlock bg-transparent" aria-hidden="true"></i>
                                </a>
                            </td>
                        {{/ifEquals}}
                        <td class="text-right">
                            <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/students/edit?id={{studentid}}" role="button" title="Edit">
                            <i class="bi bi-pencil-square bg-transparent" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">

    </div>
</div>