{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/styleAdmin.css">
{{/section}}

<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        <span><h3>Lecturers</h3></span>
        <a class="btn btn-sm btn-outline-primary btnAddAdmin" style="height: 30px; width: 200px" href="/admin/lecturers/add" role="button">
            <i class="bi bi-plus-circle bg-transparent" aria-hidden="true"></i>
            ADD LECTURER
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            <h5 class="card-title">
                Không có giảng viên nào!
            </h5>
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Lecturer ID</th>
                    <th>Email</th>
                    <th>Lecturer Name</th>
                    <th>Experience</th>
                    <th>About Me</th>
                    <th>Number Of Courses</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.lecturers}}
                    <tr>
                        <td>{{lecid}}</td>
                        <td>{{email}}</td>
                        <td>{{lecname}}</td>
                        <td>{{experience}}</td>
                        <td>{{aboutme}}</td>
                        <td>{{amount}}</td>
                        {{#ifEquals lockaccount 0}}
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/lecturers/lock?id={{lecid}}" role="button" title="Lock Account">
                                <i class="bi bi-lock bg-transparent" aria-hidden="true"></i>
                                </a>
                            </td>
                        {{/ifEquals}}
                        {{#ifEquals lockaccount 1}}
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/lecturers/unlock?id={{lecid}}" role="button" title="Unlock Account">
                                <i class="bi bi-unlock bg-transparent" aria-hidden="true"></i>
                                </a>
                            </td>
                        {{/ifEquals}}
                        <td class="text-right">
                            <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/lecturers/edit?id={{lecid}}" role="button" title="Edit">
                            <i class="bi bi-pencil-square bg-transparent" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">

    </div>
</div>