{{#section 'js'}}
<script src="https://cdn.plyr.io/3.7.3/plyr.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"
  type="text/javascript"></script>
<script>
  $(document).ready(function () {
    function lightbox_open() {
      player.play()
      $('#light').css('display', 'block')
      $('#fade').css('display', 'block')
    }

    function lightbox_close() {
      player.pause()
      $('#light').css('display', 'none')
      $('#fade').css('display', 'none')
    }

    const player = new Plyr('#player', {
      controls: [
        'play-large', // The large play button in the center
        'play', // Play/pause playback
        'progress', // The progress bar and scrubber for playback and buffering
        'current-time', // The current time of playback
        'duration', // The full duration of the media
        'mute', // Toggle mute
        'volume', // Volume control
        'settings', // Settings menu
        'airplay', // Airplay (currently Safari only)
        'fullscreen', // Toggle fullscreen
      ],
      settings: ['speed'],
      speed: { selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2] },
    });

    $('#moreDetail').on('click', function (e) {
      const tinydes = $('#tinydes')
      const fulldes = $('#fulldes')
      const btnText = $('#moreDetail')

      console.log(fulldes.css('display'))
      if (fulldes.css('display') === 'none') {
        tinydes.css('display', 'none')
        fulldes.css('display', 'block')
        btnText.text('Thu gọn')
      } else {
        tinydes.css('display', 'block')
        fulldes.css('display', 'none')
        btnText.text('Chi tiết')
      }
    })

    $('a[data-vid-src]').on('click', function (e) {
      src = $(this).data("vid-src")
      player.source = {
        type: 'video',
        sources: [
          {
            src: src,
            type: 'video/mp4',
          }
        ],
      };

      lightbox_open()
    })



    $('#fade').on('click', function (e) {
      lightbox_close()
    })

    $(document).keydown(function (e) {
      if (!e) {
        e = event;
      }
      if (e.keyCode == 27) {
        lightbox_close()
      }
    })
  })
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
<link rel="stylesheet" href="../../public/CSS/course.css">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all"
  rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all"
  rel="stylesheet" type="text/css" />
<style>
  .plyr__controls .plyr__controls__item.plyr__time {
    color: white;
  }

  .plyr__control--overlaid {
    background: rgb(254, 106, 129);
  }

  .plyr__control svg {
    fill: white;
  }
</style>
{{/section}}

<div class="container">
  <div class="course-discription">
    <div class="course-detail">
      <h2 class="course-title">{{this.course.coursename}}</h2>
      {{!-- <p class="discription">{{this.course.tinydes}}</p> --}}
      <p class="student">Học viên: {{this.course.students}}</p>
      <div class="tuition">
        {{#if this.course.discount}}
        <p>
          Học phí:
          <span class="text-danger font-weight-bold" style="display: inline">₫{{format_number
            this.course.discount}}</span>
          <del class="text-secondary">₫{{format_number this.course.tuition}}</del>
        </p>
        {{else}}
        <p>Học phí: <span class="text-danger font-weight-bold" style="display: inline">{{format_number
            this.course.tuition}}</span></p>
        {{/if}}
      </div>
      <p class="last-updated">Cập nhật lần cuối: {{format_date_ddmmyyyy this.course.updatetime}}</p>
      <div class="rating">
        <p class="rating-item">{{this.course.rating}}</p>
        <i class="bi bi-star-fill"></i>
        <p class="text-secondary rating-item">({{this.course.reviews}})</p>
      </div>
      <form id="formAddToWatchlist" action="/course/detail/{{this.course.courseid}}/addToWatchlist" method="post">
      </form>
      <form id="formBuyCourse" action="/course/detail/{{this.course.courseid}}/buy" method="post"></form>
      {{#ifEquals authUser.permission 1}}
      {{else}}
      {{#if this.isBought}}
      <a class="btn button" href="/course/{{this.course.courseid}}/learn" role="button">Đi đến bài giảng</a>
      {{else}}
      {{#if this.isInWatchlist}}
      <a class="btn button disabled" href="#/" role="button">Đã ở trong watchlist</a>
      {{else}}
      <a class="btn button" href="javascript: $('#formAddToWatchlist').submit();" role="button">Thêm vào watchlist</a>
      {{/if}}
      <a class="btn button" href="javascript: $('#formBuyCourse').submit();" role="button">Mua ngay</a>
      {{/if}}
      {{/ifEquals}}


    </div>
    <div class="course-img">
      <img src="{{this.course.courseavatar}}" width="200px" alt="courseAvatar">
    </div>
  </div>

  <div class="course-content">
    <h3 class="header">Mô tả khóa học</h3>
    <div class="card h-100">
      <div class="card-body">
        <p class="m-auto" id="tinydes">{{this.course.tinydes}}</p>
        <p class="m-auto" id="fulldes">{{this.course.fulldes}}</p>
      </div>
    </div>
    <a class="btn button" href="#/" id="moreDetail">Chi tiết</a>
  </div>

  <div class="course-menu">
    <h3 class="header">Đề cương</h3>
    <div class="course-content-menu">
      <div id="light">
        <video id="player" playsinline data-poster="/public/img/category/yae.png"></video>
      </div>
      <div id="fade"></div>
      {{#each this.coursecontent}}
      <a data-toggle="collapse" href="#chapterid_{{chapterid}}" role="button" aria-expanded="false"
        aria-controls="chapterid_{{chapterid}}">
        <div class="card-header chapter">
          <div class="chapter-name">
            {{chaptername}}
          </div>
          <div class="chapter-icon">
            <i class="bi bi-caret-down-fill"></i>
            <i class="bi bi-caret-up-fill"></i>
            {{#if preview}}
            <i class="bi bi-eye-fill"></i>
            {{/if}}
          </div>
        </div>
      </a>


      <div class="collapse" id="chapterid_{{chapterid}}">
        {{#each this.chaptercontent}}
        <div class="content">
          {{#if ../preview}}
          <a href="#/" data-vid-src="{{content}}">
            <div class="card card-body chapter-content">
              <div class="content-name">{{contentname}}</div>
            </div>
          </a>
          {{else}}
          <div class="card card-body chapter-content">
            <div class="content-name">{{contentname}}</div>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>

  <div class="lecturer">
    <h3 class="header">Thông tin giảng viên</h3>
    <div class="card h-100">
      <div class="card-body">
        <p class="m-auto">Họ và tên: {{this.course.lecname}}</p>
        <p class="m-auto">Kinh nghiệm: {{this.course.experience}}</p>
        <p class="m-auto">About me: {{this.course.aboutme}}</p>
      </div>
    </div>
  </div>

  <div class="similar-courses">
    <h3 class="header">Top 5 khóa học được mua nhiều nhất ở cùng lĩnh vực</h3>
    <div class="card-body">
      <div class="row pb-2">
        <div class="col">
          {{#if this.similarCourses.[0]}}
          <a href="/course/detail/{{this.similarCourses.[0].courseid}}">
            <div class="card h-100">
              <img class="card-img-top" src="{{this.similarCourses.[0].courseavatar}}" alt="courseAvatar">
              <div class="card-body">
                <h4 class="card-title mb-0" id="coursename">{{this.similarCourses.[0].coursename}}</h4>
                <p class="card-text text-secondary mb-0">{{this.similarCourses.[0].lecname}}</p>
                <div class="rating">
                  <p class="rating-item">{{this.similarCourses.[0].rating}}</p>
                  <i class="bi bi-star-fill"></i>
                  <p class="text-secondary rating-item">({{this.similarCourses.[0].reviews}})</p>
                </div>
                {{#if this.similarCourses.[0].discount}}
                <h5 class="card-text mb-0 discount-text">₫{{format_number this.similarCourses.[0].discount}}</h5>
                <del class="text-secondary">₫{{format_number this.similarCourses.[0].tuition}}</del>
                {{else}}
                <h5 class="card-text mb-0">₫{{format_number this.similarCourses.[0].tuition}}</h5>
                {{/if}}
              </div>
            </div>
          </a>
          {{/if}}
        </div>
        <div class="col">
          {{#if this.similarCourses.[1]}}
          <a href="/course/detail/{{this.similarCourses.[1].courseid}}">
            <div class="card h-100">
              <img class="card-img-top" src="{{this.similarCourses.[1].courseavatar}}" alt="courseAvatar">
              <div class="card-body">
                <h4 class="card-title mb-0" id="coursename">{{this.similarCourses.[1].coursename}}</h4>
                <p class="card-text text-secondary mb-0">{{this.similarCourses.[1].lecname}}</p>
                <div class="rating">
                  <p class="rating-item">{{this.similarCourses.[1].rating}}</p>
                  <i class="bi bi-star-fill"></i>
                  <p class="text-secondary rating-item">({{this.similarCourses.[1].reviews}})</p>
                </div>
                {{#if this.similarCourses.[1].discount}}
                <h5 class="card-text mb-0 discount-text">₫{{format_number this.similarCourses.[1].discount}}</h5>
                <del class="text-secondary">₫{{format_number this.similarCourses.[1].tuition}}</del>
                {{else}}
                <h5 class="card-text mb-0">₫{{format_number this.similarCourses.[1].tuition}}</h5>
                {{/if}}
              </div>
            </div>
          </a>
          {{/if}}
        </div>
        <div class="col">
          {{#if this.similarCourses.[2]}}
          <a href="/course/detail/{{this.similarCourses.[2].courseid}}">
            <div class="card h-100">
              <img class="card-img-top" src="{{this.similarCourses.[2].courseavatar}}" alt="courseAvatar">
              <div class="card-body">
                <h4 class="card-title mb-0" id="coursename">{{this.similarCourses.[2].coursename}}</h4>
                <p class="card-text text-secondary mb-0">{{this.similarCourses.[2].lecname}}</p>
                <div class="rating">
                  <p class="rating-item">{{this.similarCourses.[2].rating}}</p>
                  <i class="bi bi-star-fill"></i>
                  <p class="text-secondary rating-item">({{this.similarCourses.[2].reviews}})</p>
                </div>
                {{#if this.similarCourses.[2].discount}}
                <h5 class="card-text mb-0 discount-text">₫{{format_number this.similarCourses.[2].discount}}</h5>
                <del class="text-secondary">₫{{format_number this.similarCourses.[2].tuition}}</del>
                {{else}}
                <h5 class="card-text mb-0">₫{{format_number this.similarCourses.[2].tuition}}</h5>
                {{/if}}
              </div>
            </div>
          </a>
          {{/if}}
        </div>
        <div class="col">
          {{#if this.similarCourses.[3]}}
          <a href="/course/detail/{{this.similarCourses.[3].courseid}}">
            <div class="card h-100">
              <img class="card-img-top" src="{{this.similarCourses.[3].courseavatar}}" alt="courseAvatar">
              <div class="card-body">
                <h4 class="card-title mb-0" id="coursename">{{this.similarCourses.[3].coursename}}</h4>
                <p class="card-text text-secondary mb-0">{{this.similarCourses.[3].lecname}}</p>
                <div class="rating">
                  <p class="rating-item">{{this.similarCourses.[3].rating}}</p>
                  <i class="bi bi-star-fill"></i>
                  <p class="text-secondary rating-item">({{this.similarCourses.[3].reviews}})</p>
                </div>
                {{#if this.similarCourses.[3].discount}}
                <h5 class="card-text mb-0 discount-text">₫{{format_number this.similarCourses.[3].discount}}</h5>
                <del class="text-secondary">₫{{format_number this.similarCourses.[3].tuition}}</del>
                {{else}}
                <h5 class="card-text mb-0">₫{{format_number this.similarCourses.[3].tuition}}</h5>
                {{/if}}
              </div>
            </div>
          </a>
          {{/if}}
        </div>
        <div class="col">
          {{#if this.similarCourses.[4]}}
          <a href="/course/detail/{{this.similarCourses.[4].courseid}}">
            <div class="card h-100">
              <img class="card-img-top" src="{{this.similarCourses.[4].courseavatar}}" alt="courseAvatar">
              <div class="card-body">
                <h4 class="card-title mb-0" id="coursename">{{this.similarCourses.[4].coursename}}</h4>
                <p class="card-text text-secondary mb-0">{{this.similarCourses.[4].lecname}}</p>
                <div class="rating">
                  <p class="rating-item">{{this.similarCourses.[4].rating}}</p>
                  <i class="bi bi-star-fill"></i>
                  <p class="text-secondary rating-item">({{this.similarCourses.[4].reviews}})</p>
                </div>
                {{#if this.similarCourses.[4].discount}}
                <h5 class="card-text mb-0 discount-text">₫{{format_number this.similarCourses.[4].discount}}</h5>
                <del class="text-secondary">₫{{format_number this.similarCourses.[4].tuition}}</del>
                {{else}}
                <h5 class="card-text mb-0">₫{{format_number this.similarCourses.[4].tuition}}</h5>
                {{/if}}
              </div>
            </div>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="feedback">
    <h3 class="header">Đánh giá về khóa học</h3>
    <div class="row pb-5">
      {{#each this.feedback}}
      <div class="col-sm-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title mb-0">{{studentname}}</h4>
            <div class="rate">
              <span style="display: inline-flex;">
                <input id="inputRating" name="rating" type="text" class="rating rating-loading" data-size="sm"
                  data-min="0" data-max="5" value="{{rating}}" data-show-clear="false" data-show-caption="false"
                  data-readonly="true">
              </span>
              <label class="text-secondary mb-0" style="height: 100%;" for="inputRating">{{format_date_ddmmyyyy
                updatetime}}</label>
            </div>
            <p class="card-title mb-0">{{feedback}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>