{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/styleAdmin.css">
{{/section}}

<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        <span><h3>Categories</h3></span>
        <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/categories/add" role="button">
            <i class="bi bi-plus-circle" aria-hidden="true"></i>
            ADD CATEGORY
        </a>
    </h4>
    {{#if this.empty}}
        <div class="card-body">
            <h5 class="card-title">
                Không có lĩnh vực nào!
            </h5>
        </div>
    {{else}}
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Category Level</th>
                    <th>Number Of Courses</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.categories}}
                    <tr>
                        <td>{{catid}}</td>
                        <td>{{catname}}</td>
                        <td>{{catlevel}}</td>
                        <td>{{amount}}</td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-outline-primary btnAddAdmin" href="/admin/categories/edit?id={{catid}}" role="button" title="Edit">
                            <i class="bi bi-pencil-square" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <div class="card-footer text-muted">

    </div>
</div>