{{#section 'css'}}
<link rel="stylesheet" href="../../public/CSS/vwTeacher/profile.css">
{{/section}}

{{#section 'js'}}
<script>
  $('#formUpdateProfile').on('submit', function (e) {
    e.preventDefault()

    const name = $('#txtName').val()
    const email = $('#txtEmail').val()
    const experience = $('#txtExperience').val()
    const aboutme = $('#txtAboutMe').val()
    if (name.length === 0 && email.length === 0 && experience.length === 0 & aboutme.length === 0) {
      alert('Vui lòng nhập ít nhất một trường dữ liệu')
      return
    }
    if (email.length === 0) {
      $('#formUpdateProfile').off('submit').submit();
      return
    }

    $.getJSON(`/account/is-available?email=${email}`, function (data) {
      if (data === false) {
        alert(`${email} đã tồn tại.`);
      } else {
        $('#formUpdateProfile').off('submit').submit();
      }
    });

  })
</script>
{{/section}}

<div class="profile">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <h4 class="card-header profile-item student-name">
          {{this.name}}
        </h4>
        <ul class="list-group list-group-flush">
          <a href="/teacher/profile" class="profile-item">
            <li class="list-group-item active-menu">Hồ sơ</li>
          </a>
          <a href="/teacher/security" class="profile-item">
            <li class="list-group-item">Bảo mật</li>
          </a>
          <a href="/teacher/addcourse" class="profile-item">
            <li class="list-group-item">Tạo khóa học mới</li>
          </a>
          <a href="/teacher/my-courses" class="profile-item">
            <li class="list-group-item">Khóa học đã tạo</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 pb-4">
      <p class="title text-center">Hồ sơ</p>
      {{!-- <p>Change your information here</p> --}}



      <form class="profile-form" method="post" id="formUpdateProfile">
        {{#if msg}}
        <div class="alert alert-success alert-dismissible fade show text-center pr-0" role="alert">
          {{msg}}
          <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="bg-inherit">&times;</span>
          </button>
        </div>
        {{/if}}
        <div class="form-group">
          <label for="txtName">Tên</label>
          <input name="name" type="text" class="form-control text-input" id="txtName" placeholder="{{this.name}}">
        </div>
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input name="email" type="email" class="form-control text-input" id="txtEmail" placeholder="{{this.email}}">
        </div>
        <div class="form-group">
            <label for="txtExperience">Kinh nghiệm</label>
            <input name="experience" type="text" class="form-control text-input" id="txtExperience" placeholder="{{this.experience}}">
        </div>
        <div class="form-group">
            <label for="txtAboutMe">Về tôi</label>
            <input name="aboutme" type="text" class="form-control text-input" id="txtAboutMe" placeholder="{{this.aboutme}}">
        </div>

        <div class="submit-button">
          <button type="submit" class="btn btn-profile">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>